.select2 {
  width: 200px;
}

.now_status {
  font-size: 24px;
}

.user_status {
  display: flex;
}

.positon_form {
  display: flex;
  font-size: 24px;
  width: auto;
  margin-right: 12px;
}

.positon_form_input {
  width: 50px;
}

.positon_form_selecter {
  width: 75px;
}

#update_button {
  height: 36px;
}

#search_button {
  
}